/* App Styles */

/***************************
 Fonts
 ***************************/

@each $font-face in example-font {
    @font-face {
        font-family: $font-face; font-style: normal; font-weight: normal;
        src: url('/fonts/montserrat/#{$font-face}.eot');
        src: url('/fonts/montserrat/#{$font-face}.eot?') format('eot'),
        url('/fonts/montserrat/#{$font-face}.woff') format('woff'),
        url('/fonts/montserrat/#{$font-face}.ttf')  format('truetype');
    }
}

/***************************
 Mixins
 ***************************/

/* Absolute Center */
@mixin absoluteCenter($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

/***************************
 Variables
 ***************************/

$gutter          : 30px;

$titleFont       : 'title-font-family';
$mainFont        : 'main-font-family';

/***************************
 Helper Classes
 ***************************/

.uppercase { text-transform: uppercase; }

/***************************
 Elements
 ***************************/

html, body { font-family: $mainFont; }
h1, h2, h3, h4, h5, h6 { font-family: $titleFont; }

/***************************
 Components
 ***************************/

/* Buttons */

/* Form Elements */

/***************************
 Modules
 ***************************/

/* Home */

/* 404 */